<a href="https://colab.research.google.com/github/PatrykWAT/ML/blob/main/supervised/basic/01_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'0.22.2.post1'

In [4]:

data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

df_raw = pd.DataFrame(data=data)
df_raw

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [5]:
df = df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

In [6]:
for col in ['size', 'color', 'gender', 'bought']:
    df[col] = df[col].astype('category')

df['weight'] = df['weight'].astype('float')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 628.0 bytes

In [7]:
df.describe()

            price      weight
count    5.000000    5.000000
mean   119.000000  408.000000
std     48.476799   75.299402
min     79.000000  300.000000
25%     89.000000  380.000000
50%     99.000000  410.000000
75%    129.000000  450.000000
max    199.000000  500.000000

In [8]:
df.describe(include=['category'])

       size color  gender bought
count     5     5       5      5
unique    3     3       2      2
top       M   red  female    yes
freq      2     2       3      3

In [9]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df['bought'])
le.transform(df['bought'])

array([1, 0, 1, 0, 1])

In [13]:
df['bought']=le.fit_transform(df['bought'])
df

  size  color  gender  price  weight  bought  bougt
0   XL    red  female  199.0   500.0       1      1
1    L  green    male   89.0   450.0       0      0
2    M   blue    male   99.0   300.0       1      1
3    L  green  female  129.0   380.0       0      0
4    M    red  female   79.0   410.0       1      1

In [16]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(sparse=False)
encoder.fit(df[['size']])
encoder.transform(df[['size']])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [17]:
encoder.categories_

[array(['L', 'M', 'XL'], dtype=object)]

In [18]:

encoder = OneHotEncoder(drop='first', sparse=False)
encoder.fit(df[['size']])
encoder.transform(df[['size']])

array([[0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.]])

In [19]:
df

  size  color  gender  price  weight  bought  bougt
0   XL    red  female  199.0   500.0       1      1
1    L  green    male   89.0   450.0       0      0
2    M   blue    male   99.0   300.0       1      1
3    L  green  female  129.0   380.0       0      0
4    M    red  female   79.0   410.0       1      1

In [21]:
pd.get_dummies(data=df,drop_first=True)

   price  weight  bought  bougt  ...  size_XL  color_green  color_red  gender_male
0  199.0   500.0       1      1  ...        1            0          1            0
1   89.0   450.0       0      0  ...        0            1          0            1
2   99.0   300.0       1      1  ...        0            0          0            1
3  129.0   380.0       0      0  ...        0            1          0            0
4   79.0   410.0       1      1  ...        0            0          1            0

[5 rows x 9 columns]

In [22]:
(df['price'] - df['price'].mean()) / df['price'].std()

0    1.650274
1   -0.618853
2   -0.412568
3    0.206284
4   -0.825137
Name: price, dtype: float64

In [23]:
df

  size  color  gender  price  weight  bought  bougt
0   XL    red  female  199.0   500.0       1      1
1    L  green    male   89.0   450.0       0      0
2    M   blue    male   99.0   300.0       1      1
3    L  green  female  129.0   380.0       0      0
4    M    red  female   79.0   410.0       1      1

In [25]:
from sklearn.preprocessing import StandardScaler
df=df_raw
le = LabelEncoder()

df['bought'] = le.fit_transform(df['bought'])

scaler = StandardScaler()
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])

df = pd.get_dummies(data=df, drop_first=True)
df

      price    weight  bought  ...  color_green  color_red  gender_male
0  1.845062  1.366002       1  ...            0          1            0
1 -0.691898  0.623610       0  ...            1          0            1
2 -0.461266 -1.603567       1  ...            0          0            1
3  0.230633 -0.415740       0  ...            1          0            0
4 -0.922531  0.029696       1  ...            0          1            0

[5 rows x 8 columns]